* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
html, body {
    height: 100%;
    width: 100%;

}

nav {
    height: 13%;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.953);
    border-bottom: 4px solid blue; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.navleft {
    height: 100%;
    width: 25%;
  
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.navleft img {
    width: 70%; 
    height: 100%; 
    object-fit: contain; 
    margin-right: 40%;
}
.navright {
    height: 100%;
    width: 60%;
     gap: 6px;
    display: flex; 
    justify-content: space-around; 
    align-items: center;  
   
    
}
.navright a{
   text-decoration: none;
   color: rgb(0, 26, 255);
   font-family: Teachers;
 font-family: 1200px;

    
}
.link::after{
    content: "";
   height: 1.7px;
   width: 100%;
  display: block;
  background-color: black;
  transform: scale(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.link:hover::after{
   transform: scaleX(1);
   transform-origin: left;
}
.bar{

    height:100%;
    width: 10%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size:4vw;
    flex-direction: column
    
}
#hdnnv{
    height: auto;
    width: 60%;
    display: none;
    z-index: 25 ;
    position: absolute; 
    top: 0; 
    left: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    
    border: 5px solid transparent;
   border-image: linear-gradient(to bottom, #02025d, #12a7e2) 1;
   border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
#hdnnv a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Teachers;
    display: flex;
    margin-top: 10px;
    margin-left: 10%;
}
#abtpci{
    width: 100%;
    display: flex;
    background-color: #007bff;
}
#abtpci i{
    margin-right: 72%;
    margin-top:2%;
}
#abtpci a{
    width: 100%;
    color: #ffffff;
    background-color: #007bff;
}
.hdnm{
    height: auto;
    width: 100%;
   
    display: flex;
    display: none;
    flex-direction: column;
}
.hdnm a{
   font-size: 11px;
}
.navhiden{
    height: 200px;
    width: 140px;
    position: absolute;
    margin-top: 16%;
    margin-right: 36%;
    z-index: 1;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: none;
    border: 3px solid rgb(0, 149, 255);
}

.div{
   width: 100%;
   height: 15%;
   margin-top: 8px;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;

}
.div:hover{
  background-color: #01a6ff;
  color: #ffffff;
}
.div a:hover{
  color: #ffffff;
}
.navhiden2{
    height: 100px;
    width: 140px;
    position: absolute;
    margin-top: 10%;
    z-index: 1;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: none;
    border: 3px solid rgb(0, 140, 255);
}
.div2{
   width: 100%;
   height: 100%;
   margin-top: 10px;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.div2:hover{
  background-color: #00ccff;
  color: #ffffff;
  
}
.div2 a:hover{
  color: #ffffff;
}
.navhiden3{
    height: 40px;
    width: 140px;
    position: absolute;
    margin-top:5%;
    z-index: 1;
    display: flex;
    margin-left: 40%;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    display: none;
    border: 3px solid rgb(0, 34, 255);
}
.div3{
   width: 100%;
   height: 100%;
   margin-top: 8px;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.div3:hover{
  background-color: #00ccff;
  color: #ffffff;
}
.div3 a:hover{
  color: #ffffff;
}

.mainimg{
    height: 760px;
    width: 100%;
    background-image: url('real.heros.jpeg');
    background-size: contain;
    background-repeat: no-repeat ;
    z-index: -1;
    display: flex;
}

.heading{
    height: 20%;
    width: 45%;
    margin-top: 15%;
    margin-left: 1%;
}
.heading h1{
  font-family: futura;
  color: #ffffff;
  font-size: 1.5vw;
}
.heading span{
  font-family: futura;
  color: #0967ff;
  background-color: #ffffff;
}
.winner{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00008B, #d787eb);
    gap: 5%;


}
.win1{
    height: 100%;
    width: 30%;
    
}
.divfh1p{
    height: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.divfh1p h2{
   font-family: futura;
   color: #ffffff;
   font-size: 1.5vw;
}
.divfh1p p{
  font-family: Teachers;
   color: #ffffff;
}
.winlist{
    height: 15%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1a29ff;
   border: 0.5px solid black;
   margin-left: 5%;
}
.winlist:hover{
   background-color: #1613ae;
   border: 2px solid white;
}
.winlist a{
   text-decoration: none;
   font-family: Teachers;
   color: #ffefef;

}
.win2{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winh1{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.winh1 h1{
   color: #ffffff;
   font-family: futura;
}
.won{
    height: 30%;
    width: 90%;
    gap: 5%;
    display: flex;
}
.won1{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

}
.won1 span{
   font-family: futura;
   color: #ffffff;

}
.win3{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.win3img{
    height: 90%;
    width: 90%;
}
.win3img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.fot{
    height:50%;
    width: 100%;
    display: flex;
    gap: 5%;
    background: linear-gradient(to bottom, blue, rgb(113, 149, 241));
}
.fot1{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    
}
.pcisp{
    height: 10%;
    width: 25%;
    padding: 5%;
}
.pcisp span{
   font-family: Teachers;
   color: #f9f9f9;
 font-size: 2rem;
} .divpci{
    height: 70%;
    width:90% ;
    margin-left: 20px;
 
}
.divpci p{
   display: flex;
   font-size: 1vw;
   font-family: Teachers;
   color: #ffffff;
}
.fot2{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.adre{
    height: 25%;
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.adre h2{
    font-family: futura;
    color: #ffffff;
}
.adrediv{
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.adrediv p{
   font-family: Teachers;
   color: #ffffff;
   margin-top: 15px;
}
.fot3{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont{
    height: 30%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.cont1{
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(22, 11, 120);

}
.cont1:hover{
   background-color: rgb(113, 149, 241);
   border: 1px solid rgb(0, 0, 0);

}
.fotter{
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgb(113, 149, 241);
    justify-content: space-evenly;
}
.fotter1{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotter1 h2{
   color: #f8e9e9;
   font-family: futura;
   font-size: 1vw;
}
.fotter2{
    height: 100%;
    width: 30%;
   
}
.fotter2{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fotterimg{
    height: 100%;
    width: 50%;
}
.fotterimg img{
    height: 100%;
    width: 100%;
   object-fit: contain;
}
.brif{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.brif1{
    height: 95%;
    width: 40%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.brif1 img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.brif2{
    height: 78%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}
.brif2 h2{
   font-family: Teachers;
   margin-left: 2%;

}
.brif2 p{
   font-family: Teachers;
   font-size: 1.1vw;
   padding: 20px;

}
.br{
    height: 5px;
    width:100px;
    border-radius: 10px;
    margin-left:2%;
    margin-top: 2%;
    background-color: #0084ff;
}
@media(max-width:800px){
    .brif2 h2{
        font-family: Teachers;
        margin-left: 5%;
     
     }
.brif2 p{
   font-family: Teachers;
   font-size: 2.5vw;
   

}
    .brif1 img{
        height: 100%;
        width: 95%;
       border-radius: 10px;
        object-fit: contain;
    }
    .brif1{
        height: 90%;
        width: 100%;
        display: flex;
    }
    .brif2{
        height: 90%;
        width: 100%;
    }
    .brif{
       height: 80%;
        display: flex;
       flex-direction: column;
    }
    
    .heading h1{
      font-family: Teachers;
      font-size: 2.5vw;
    }
    .fotter1 h2{
        margin-left: 15%;
        font-size: 3.5vw;
     }
    .fotter{
        display: flex;
        height: 30%;
       flex-direction: column;
       width: 100%;

    }
    .fotter1{
        
        width: 100%;
       
    }
    .fotter2{
        
        width: 100%;
       
    }
    .divpci p{
        display: flex;
        font-size: 4vw;
     }
    .pcisp span{
       font-size: 3vw;
     }
    .fot{
       display: flex;
       height: 100%;
       flex-direction: column;
    }
    .fot1{
        height: 100%;
        width: 100%;
    }
    .fot2{
        height: 100%;
        width: 100%;
    }
    .fot3{
        height: 100%;
        width: 100%;
    }
.winner{
   display: flex;
   height: 100%;
   flex-direction: column;

}.win1{
    height: 100%;
    width: 100%;
}
.divfh1p h2{
    
    font-size: 3.5vw;
 }
.win2{
    height: 100%;
    width: 100%;
}
.win3{
    height: 100%;
    width: 100%;
}
    .mainimg{
        height: 170px;
       
    }
   
    .title h1{
        width: 100%;
      font-size: 1.8vw;
    
    }
    
    .navleft img {
      margin-left: 10%;
    }

    .navright {
   display: none;
        
    }

    .bar{
        display: flex;
        font-size:6vw;
        
    }
    #hdnnv a{
       
        margin-top: 10px;
       
    }


    #hdnnv{
        
        display: none;
        z-index: 25 ;
        position: absolute; /* Or fixed if you want it on top even while scrolling */
        top: 15%; /* Position at the top of the viewport */
        left: 0;
       
    }
}
@media(max-width:600px){
    .title{
        height: 20%;
        width: 40%;
        display: flex;
        margin-top: 20%;
        align-items: center;
    
    }
    
    #hdnnv{
        
        display: none;
        z-index: 25 ;
        position: absolute; /* Or fixed if you want it on top even while scrolling */
        top: 5%; /* Position at the top of the viewport */
        left: 0;
       
    }
    /* #hdnnv{
    
        z-index: 10;
       
    } */
    nav {
        height: 10%;
        width: 100%;
        border-bottom: 20px solid blue;
        
    }

    #abtpci i{
        margin-right: 60%;
        margin-top:4%;
    }   


        .bar{
            display: flex;
            font-size:8vw;
            
        }
        
    
    #hdnnv a{
       display: flex;
        margin-top: 12px;
    
    }
 
    .navleft {
        height: 100%;
        width: 60%;
      
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    
    .navleft img {
        width: 70%; 
        height: 100%; 
        object-fit: contain; 
        margin-right: 40%;
    }
}
